name: publish-to-pypi

on:
  push:
    tags:
      - "*"

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: "3.x"

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Build distributions with uv
        run: uv build --wheel

      - name: Upload distributions as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #  v6.0.0
        with:
          name: python-package-distributions-${{ github.run_id }}
          path: dist/

  publish-to-pypi:
    name: Publish Python distribution to PyPI
    needs: [build]
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/project/python-em511/

    permissions:
      id-token: write

    steps:
      - name: Download all build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #  v6.0.0
        with:
          name: python-package-distributions-${{ github.run_id }}
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true

