name: publish-to-pypi

on:
  push:
    tags:
      - "*"

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: "3.x"

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Build distributions with uv
        run: uv build --wheel

      - name: Upload distributions as artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #  v5.0.0
        with:
          name: python-package-distributions-${{ github.run_id }}
          path: dist/

  publish-to-pypi:
    name: Publish Python distribution to PyPI
    needs: [build]
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/project/python-em511/

    permissions:
      id-token: write

    steps:
      - name: Download all build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #  v6.0.0
        with:
          name: python-package-distributions-${{ github.run_id }}
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true

